body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
}
#root {
  width: 100vw;
  height: 100vh;
}

.meters-list-container {
  width: 1408px;
  padding: 16px;
  background: #f8f9fa;
  border: 1px solid #e0e5eb;
  border-radius: 12px;
}

.meters-list-header {
  width: 210px;
  height: 32px;
  color: #1f2939;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  padding-bottom: 16px;
}

p {
  margin: 0;
}

table {
  border-spacing: 0;
}

.meters-list-table {
  border: 1px solid #e0e5eb;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0px;
}

.meters-list-table-title {
  display: flex;
  align-items: center;
  color: #697180;
  width: 1408px;
  height: 32px;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  border: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #f0f3f7;
  text-align: left;
}

.meters-list-table-body {
  display: flex;
  flex-direction: column;
  height: 863px;
  position: relative;
  width: 1408px;
  border-bottom: 1px solid #e0e5eb;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
}

.meters-list-tr-body {
  display: flex;
  align-items: center;
  width: 1406px;
  height: 40px;
  padding: 6px 0px 6px 0px;
  border-bottom: 1px solid #e0e5eb;
  background: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #1f2939;
}
.meters-list-tr-body:hover {
  background: #f7f8f9;
}

th:nth-child(1),
td:nth-child(1) {
  width: 48px;
  text-align: center;
  color: #5e6674;
}

th:nth-child(2),
td:nth-child(2) {
  width: 120px;
  text-align: left;
}

th:nth-child(3),
td:nth-child(3) {
  width: 160px;
}

th:nth-child(4),
td:nth-child(4) {
  width: 128px;
}
th:nth-child(5),
td:nth-child(5) {
  width: 146px;
}

th:nth-child(6),
td:nth-child(6) {
  width: 430px;
}

th:nth-child(7) {
  width: 376px;
}

td:nth-child(7) {
  width: 304px;
  color: #5e6674;
}

td:nth-child(8) {
  width: 64px;
}

.icon-type {
  height: 40px;
}

.pagination {
  display: flex;
  justify-content: end;
  width: 1376px;
  height: 32px;
  padding: 8px 16px 8px 16px;
  color: #ffffff;
  border: 1px solid #eef0f4;
  border-top: 0px;
  border-radius: 0px 0px 8px 8px;
  margin-right: auto;
}

.pagination-button,
.pagination-select {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #eef0f4;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
}

.pagination-button:hover,
.pagination-select:hover {
  background-color: #eef0f4;
}

.pagination-select {
  appearance: none;
  text-align: center;
  padding: 5px;
}

.pagination-select:focus {
  outline: none;
}

.pagination-button:focus,
.pagination-select:focus {
  background-color: #eef0f4;
}

.meters-list-table-body::before {
  content: '';
  position: absolute;
  height: 363px;
  width: 4px;
  top: 0;
  right: 0;
  background-color: #5e6674;
}
